@page "/hello"

<h3>Witaj w szkoleniu Szkoła AI w C#/.NET</h3>

<p>To jest Twój pierwszy komponent w tej aplikacji. W kolejnych modułach będziemy rozwijać tą stronę o nowe finkcje AI.</p>

@code {

}
